#!monit

check process {{item.api_upstart_name}} with pidfile "/var/run/{{item.api_upstart_name}}.pid"
    start program = "/sbin/start {{item.api_upstart_name}}"
    stop program  = "/sbin/stop {{item.api_upstart_name}}"
    if failed port {{item.port_number}} protocol HTTP
        request {{item.health_check_url | default('/status')}}
        with timeout 10 seconds
        then restart
